---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Hero from '../../components/Hero.astro';
import About from '../../components/About.astro';
import Accommodations from '../../components/Accommodations.astro';
import Services from '../../components/Services.astro';
import Gallery from '../../components/Gallery.astro';
import Location from '../../components/Location.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';
---

<Layout language="en">
  <Navbar language="en" />
  <main>
    <Hero language="en" />
    <About language="en" />
    <Accommodations language="en" />
    <Services language="en" />
    <Gallery language="en" />
    <Location language="en" />
    <Contact language="en" />
  </main>
  <Footer language="en" />
</Layout>
